.card-container {
    background: rgba(0, 0, 0, .5);
    position: relative;
    border-radius: 10px;
    width: 200px;
    padding: .5em .5em .4em;
    margin: .5em;

    &:hover {
        .card-box-content {
            opacity: 1;
        }
    }
}

.card-box-image {
    .card-image {
        width: 100%;
    }
}

.card-box-content {
    opacity: 0;
    transition: all .3s linear;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    .wrapper-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .card-content {
        margin: 0 0 .5em;
        color: #fff;
    }

    .card-btn-detail {
        display: block;
        text-decoration: none;
        cursor: pointer;
        padding: .5em 1em;
        color: #fff;
        background-color: #e11256;
        border-radius: 25px;

        .text-btn {
            vertical-align: middle;
            display: inline-block;
        }

        .icon-btn {
            @extend .text-btn;
            margin-right: .5em;
        }
    }
}